
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="assets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendors/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

    <title>Formify</title>
</head>

<body>
    <div class="body_wrapper frm-vh-md-100">
        <div class="header_top d-flex align-items-center justify-content-between">
        </div>
        <div class="formify_body formify_signup_fullwidth parallax-effect d-flex">
            <div class="formify_left_fullwidth frm-vh-md-100" data-bg-img="assets/img/teanna-trump.jpg">
            </div>
            <div class="formify_right_fullwidth d-flex align-items-center justify-content-center">
                <div class="parallax_img">
                    <div class="p_img one">
                        <img class="layer layer2" data-depth="0.5" src="assets/img/parallax-img/polygon1.png" alt="">
                    </div>
                    <div class="p_img two"><img class="layer layer2" data-depth="0.4"
                            src="assets/img/parallax-img/polygon2.png" alt=""></div>
                    <div class="p_img three"><img class="layer layer2" data-depth="0.5"
                            src="assets/img/parallax-img/polygon3.png" alt=""></div>
                    <div class="p_img four"><img class="layer layer2" data-depth="0.5"
                            src="assets/img/parallax-img/polygon4.png" alt=""></div>
                    <div class="p_img five"><img class="layer layer2" data-depth="0.5"
                            src="assets/img/parallax-img/polygon5.png" alt=""></div>
                    <div class="p_img six"><img class="layer layer2" data-depth="0.5"
                            src="assets/img/parallax-img/polygon6.png" alt=""></div>
                </div>
                <div class="col-md-7" style="text-align:center">
                    <h2 class="form_title">{{$welcome}} {{$fullname}}</h2>
                    <p>Your Slogan</p>
                    <div class="col-md-8" style="margin:auto">
                        <a href="#" class="btn thm_btn thm_btn_green bg-color-youtube">Your YouTube Channel</a>
                        <a href="#" class="btn thm_btn thm_btn_green bg-color-facebook">Your Facebook Channel</a>
                        <a href="#" class="btn thm_btn thm_btn_green bg-color-twitter">Your Twitter Channel</a>
                        <a href="https://www.linkedin.com/" class="btn thm_btn thm_btn_green bg-color-twitter">Your Linkedin Channel</a>
                        <hr>
                        <a href="#" class="btn thm_btn thm_btn_green">Your First Link</a>
                        <a href="#" class="btn thm_btn thm_btn_green">Your Second Link</a>
                        <a href="#" class="btn thm_btn thm_btn_green">Your Third Link</a>
                        <a href="#" class="btn thm_btn thm_btn_green">Your Fourth Link</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@miki.infinita/video/6994956304603254021" data-video-id="6994956304603254021" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@miki.infinita" href="https://www.tiktok.com/@miki.infinita">@miki.infinita</a> Alucinantes fotos juntas en nuestros Insta 🤫 @julicuencaa <a title="cutegirl" target="_blank" href="https://www.tiktok.com/tag/cutegirl">#cutegirl</a> <a title="bikinimodel" target="_blank" href="https://www.tiktok.com/tag/bikinimodel">#bikinimodel</a> <a title="bikini" target="_blank" href="https://www.tiktok.com/tag/bikini">#bikini</a> <a title="photoshoot" target="_blank" href="https://www.tiktok.com/tag/photoshoot">#photoshoot</a> <a target="_blank" title="♬ Coming In Hot - Andy Mineo &#38; Lecrae" href="https://www.tiktok.com/music/Coming-In-Hot-6733266551195172870">♬ Coming In Hot - Andy Mineo &#38; Lecrae</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="assets/vendors/bootstrap/js/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/parallax.js"></script>
    <script src="assets/js/jquery.parallax-scroll.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>
