.widget-user input {
    width: 70%;
    height: 40px;
    border: 1px solid #e5e5e5;
    background-color: #efefef;
    margin: 5px 0px 5px 5px;
    padding-left: 10px;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    resize: none
}

.widget-user form button {
    float: right;
    color: #fff;
    background-color: #e44d3a;
    height: 40px;
    margin: 5px 5px 5px 0px;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600
}

.widget-user p {
    margin: 0px 5px;
    padding-left: 10px;
    color: #000;
    font-size: 14px;
    font-weight: 600
}