<!doctype html>
<html lang="en">
<head>
    <title>Login 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="portfolio-demo-2/assets/css/A.style.css.pagespeed.cf.PgCMkVC7B9.css" rel="stylesheet">
    <link href="portfolio-demo-2/assets/css/kawaiilink.css" rel="stylesheet">
    <script nonce="e56c36ec-aced-4468-875b-54a5e2bed66f">
        (function(w, d) {
            ! function(a, e, t, r) {
                a.zarazData = a.zarazData || {}, a.zarazData.executed = [], a.zaraz = {
                    deferred: []
                }, a.zaraz.q = [], a.zaraz._f = function(e) {
                    return function() {
                        var t = Array.prototype.slice.call(arguments);
                        a.zaraz.q.push({
                            m: e,
                            a: t
                        })
                    }
                };
                for (const e of ["track", "set", "ecommerce", "debug"]) a.zaraz[e] = a.zaraz._f(e);
                a.zaraz.init = () => {
                    var t = e.getElementsByTagName(r)[0],
                        z = e.createElement(r),
                        n = e.getElementsByTagName("title")[0];
                    for (n && (a.zarazData.t = e.getElementsByTagName("title")[0].text), a.zarazData.x = Math.random(), a.zarazData.w = a.screen.width, a.zarazData.h = a.screen.height, a.zarazData.j = a.innerHeight, a.zarazData.e = a.innerWidth, a.zarazData.l = a.location.href, a.zarazData.r = e.referrer, a.zarazData.k = a.screen.colorDepth, a.zarazData.n = e.characterSet, a.zarazData.o = (new Date).getTimezoneOffset(), a.zarazData.q = []; a.zaraz.q.length;) {
                        const e = a.zaraz.q.shift();
                        a.zarazData.q.push(e)
                    }
                    z.defer = !0;
                    for (const e of [localStorage, sessionStorage]) Object.keys(e || {}).filter((a => a.startsWith("_zaraz_"))).forEach((t => {
                        try {
                            a.zarazData["z_" + t.slice(7)] = JSON.parse(e.getItem(t))
                        } catch {
                            a.zarazData["z_" + t.slice(7)] = e.getItem(t)
                        }
                    }));
                    z.referrerPolicy = "origin", z.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))), t.parentNode.insertBefore(z, t)
                }, ["complete", "interactive"].includes(e.readyState) ? zaraz.init() : a.addEventListener("DOMContentLoaded", zaraz.init)
            }(w, d, 0, "script");
        })(window, document);
    </script>
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">{{$welcome}} {{$fullname}}</h2>
                    <h3 class="heading-section">Your Slogan</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last" style="background-image: url('portfolio-demo-2/assets/img/Kailena_005_11a2.jpg');background-repeat: no-repeat; background-size: cover;">
                            <div class="text w-100">
                                <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@hi.gabbriela/video/6928112962897005830" data-video-id="6928112962897005830" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@hi.gabbriela" href="https://www.tiktok.com/@hi.gabbriela">@hi.gabbriela</a> ❤️🥵👌🏽 <a title="beautfullgirls" target="_blank" href="https://www.tiktok.com/tag/beautfullgirls">#beautfullgirls</a>  <a title="foryou" target="_blank" href="https://www.tiktok.com/tag/foryou">#foryou</a> <a title="viral" target="_blank" href="https://www.tiktok.com/tag/viral">#viral</a> <a title="beach" target="_blank" href="https://www.tiktok.com/tag/beach">#beach</a> <a target="_blank" title="♬ beautiful girls - s" href="https://www.tiktok.com/music/beautiful-girls-6922313624874765058">♬ beautiful girls - s</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <p class="social-media d-flex justify-content-center"><i class="fab fa-linkedin-in"></i>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                    <a href="https://www.youtube.com/channel/UCxt84pU0c9bPV-KLgViK2-g" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-youtube"></span></a>
                                    <a href="https://www.linkedin.com/" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-4">
                                <img src="portfolio-demo-2/assets/img/avatar-demo.png" width="150px" alt="{{$fullname}}">
                            </div>
                            <div class="signin-form">
                                <div class="form-group link-title">
                                    <a class="form-control btn btn-primary submit px-3">Your First Link</a>
                                </div>
                                <div class="form-group link-title">
                                    <a class="form-control btn btn-primary submit px-3">Your Second Link</a>
                                </div>
                                <div class="form-group link-title">
                                    <a class="form-control btn btn-primary submit px-3">Your Third Link</a>
                                </div>
                                <div class="form-group link-title">
                                    <a class="form-control btn btn-primary submit px-3">Your Fourth Link</a>
                                </div>
                                <div class="form-group d-md-flex"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="portfolio-demo-2/assets/js/jquery.min.js"></script>
    <script src="portfolio-demo-2/assets/js/popper.js+bootstrap.min.js+main.js.pagespeed.jc.iqDpUqoRp9.js"></script>
    <script>eval(mod_pagespeed_qBnQ96WPW1);</script>
    <script>eval(mod_pagespeed__CEwjG2SSu);</script>
    <script>eval(mod_pagespeed_oaROQS6dN_);</script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"71c49dfbba954c29","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.6.0","si":100}' crossorigin="anonymous"></script>
</body>
</html>
