.link-box {
    border: solid 1px #9d608500;
    color: #ffffff;
    border-radius: 50px;
    background: #704d6266;
    margin: 10px 0;
}

.link-list {
    border: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    position: relative;
    padding: 16px 20px 5px 20px;
    margin: 0;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    width: 100%;
    cursor: pointer;
    appearance: none;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    background: none;
    color: inherit;
}

.link-title {
    font-size: 22px;
    padding: 0px;
    line-height: 1.5;
    width: 100%;
    font-weight: 700;
    color: #FFF;
}
